@use "../general/functions" as f;
@use "../general/mixins" as m;
@use "../general/screen-size" as size;

.assignment {
  --padding-vertical: 133px;
  padding: var(--padding-vertical) var(--padding-side) var(--padding-vertical)
    calc(var(--padding-side) - 1px);
  position: relative;
  width: var(--max-width);
  height: 725px;
  &__bg {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--sec-color);
    background-image: url(../../assets/bg-1.jpg);
    background-position: 0 0;
    background-size: 1327px 885px;
    background-repeat: no-repeat;
  }
  &__title {
    @include m.font-h1(desktop);
    position: relative;
    width: f.cols(desktop, 6, 5);
    color: var(--color-on-dark);
  }
  &__text {
    @include m.font-source-sans-pro(20.1, 26);
    color: var(--color-on-dark);
    position: relative;
    left: 2px;
    width: f.cols(desktop, 6, 5);
    margin-top: 18px;
    margin-bottom: 40px;
  }
  &__sign-up {
    position: relative;
    left: 1px;
  }
}

@media (max-width: size.$max-tablet) {
  .assignment {
    --padding-vertical: 114px;
    height: 623px;
    &__bg {
      background-size: 974px 650px;
    }
    &__title {
      @include m.font-h1(tablet);
      width: f.cols(tablet, 7, 12);
    }
    &__text {
      @include m.font-source-sans-pro(18, 24);
      width: f.cols(tablet, 7, 12);
      margin-bottom: 35px;
    }
  }
}

@media (max-width: size.$max-mobile) {
  .assignment {
    --padding-vertical: 67px;
    height: 393px;
    &__bg {
      background-size: 650px 434px;
      background-position: -127px -9px;
    }
    &__title {
      text-align: center;
      margin-left: 1px;
      @include m.font-overpass(30, 34);
      width: f.cols(mobile, 4, 6);
    }
    &__text {
      @include m.font-p2;
      width: f.cols(mobile, 4, 6);
      margin-bottom: 38px;
      margin-top: 10px;
      text-align: center;
    }
    &__sign-up {
      margin-left: 1px;
      width: f.cols(mobile, 4, 6) - 1px;
    }
  }
}

@media (min-width: size.$min-two-k) {
  .assignment {
    padding-top: 133px;
    height: 676px;
    &__bg {
      background-size: 2566px 1712px;
      background-position: -5px -315px;
    }
    &__title {
      left: -1px;
    }
    &__text {
      width: f.cols(twoK, 6, 10);
      left: 1px;
      margin-bottom: 34px;
    }
  }
}
