@use "../general/functions" as f;
@use "../general/mixins" as m;
@use "../general/screen-size" as size;

.assignment {
  --padding-vertical: 133px;
  padding: var(--padding-vertical) var(--padding-side) var(--padding-vertical)
    calc(var(--padding-side) - 1px);
  position: relative;
  width: var(--max-width);
  height: 725px;
  margin-bottom: 134px;
  &__bg {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--sec-color);
    background-image: url(../../assets/adopted/standard/bg-1-desktop.jpg);
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  &__title {
    @include m.h1(desktop);
    position: relative;
    width: f.cols(desktop, 6, 5);
    color: var(--color-on-dark);
  }
  &__text {
    @include m.source-sans-pro(20.1, 26);
    color: var(--color-on-dark);
    position: relative;
    left: 2px;
    width: f.cols(desktop, 6, 5);
    margin-top: 18px;
    margin-bottom: 40px;
  }
  &__sign-up {
    position: relative;
    left: 1px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (max-width: size.$max-desktop) {
  .assignment {
    &__bg {
      background-image: url(../../assets/adopted/retina/bg-1-desktop-retina.jpg);
    }
  }
}

@media (max-width: size.$max-tablet) {
  .assignment {
    --padding-vertical: 113px;
    height: 622px;
    margin-bottom: 113px;
    &__bg {
      background-image: url(../../assets/adopted/standard/bg-1-tablet.jpg);
    }
    &__title {
      @include m.h1(tablet);
      width: f.cols(tablet, 7, 12);
    }
    &__text {
      @include m.source-sans-pro(18, 24);
      width: f.cols(tablet, 7, 12);
      margin-top: 19px;
      margin-bottom: 33px;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (max-width: size.$max-tablet) {
  .assignment {
    &__bg {
      background-image: url(../../assets/adopted/retina/bg-1-tablet-retina.jpg);
    }
  }
}

@media (max-width: size.$max-mobile) {
  .assignment {
    --padding-vertical: 67px;
    height: 394px;
    margin-bottom: 67px;
    &__bg {
      background-image: url(../../assets/adopted/standard/bg-1-mobile.jpg);
    }
    &__title {
      text-align: center;
      margin-left: 1px;
      @include m.overpass(30, 34);
      width: f.cols(mobile, 4, 6);
    }
    &__text {
      @include m.p2;
      width: f.cols(mobile, 4, 6);
      margin-bottom: 38px;
      margin-top: 10px;
      text-align: center;
    }
    &__sign-up {
      margin-left: 1px;
      width: f.cols(mobile, 4, 6) - 1px;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (max-width: size.$max-mobile) {
  .assignment {
    &__bg {
      background-image: url(../../assets/adopted/retina/bg-1-mobile-retina.jpg);
    }
  }
}

@media (min-width: size.$min-two-k) {
  .assignment {
    padding-top: 133px;
    height: 676px;
    &__bg {
      background-image: url(../../assets/adopted/standard/bg-1-2K.jpg);
    }
    &__title {
      left: -1px;
    }
    &__text {
      width: f.cols(twoK, 6, 10);
      left: 1px;
      margin-bottom: 34px;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-width: size.$min-two-k) {
  .assignment {
    &__bg {
      background-image: url(../../assets/adopted/retina/bg-1-2K-retina.jpg);
    }
  }
}
