@use "../default/functions" as f;
@use "../default/mixins" as m;
@use "../default/screen-size" as size;

.footer {
  position: relative;
  padding-left: var(--padding-side);
  padding-right: var(--padding-side);
  padding-bottom: 31px;
  background-color: var(--footer-bg);
  &__top {
    position: relative;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1px;
  }
  &__logo-link {
    position: relative;
    display: block;
    top: 2px;
  }
  &__logo {
    fill: var(--color-on-dark);
    height: 24px;
    width: 135px;
  }
  &__menu {
    display: flex;
  }
  &__item {
    top: -1px;
    position: relative;
    margin-left: 29.4px;
    @include m.font-p2;
    color: var(--color-on-dark);
  }
  &__line {
    height: 1px;
    background-color: var(--footer-line);
    border: none;
    position: relative;
    left: calc(-1 * var(--padding-side));
    width: calc(100% + var(--padding-side) + var(--padding-side));
  }
  &__middle {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
  }
  &__contact {
    position: relative;
    @include m.font-source-sans-pro(20, 24);
    color: var(--color-on-dark);
    height: 44px;
    display: flex;
    align-items: center;
    svg {
      position: relative;
      display: block;
    }
    &--email {
      svg {
        width: 24px;
        height: 19px;
        margin-top: 5px;
        margin-left: 1px;
        margin-right: 9px;
      }
    }
    &--phone {
      svg {
        width: 20px;
        height: 20px;
        margin-left: 2.4px;
        margin-right: 12px;
        top: -1px;
      }
    }
    &--mobile {
      svg {
        width: 18px;
        height: 27px;
        margin-top: 1px;
        margin-left: 3px;
        margin-right: 13px;
      }
    }
  }
  &__contents {
    padding-top: 10px;
    display: flex;
  }
  &__content {
    position: relative;
    top: -1px;
    width: f.cols(desktop, 2, 2);
    text-align: right;
  }
  &__link {
    @include m.font-p2;
    margin-bottom: 8px;
  }
  &__bottom {
    height: 26px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  &__copyright {
    margin-top: 10px;
    position: relative;
    @include m.font-source-sans-pro(12.1, 16);
    color: var(--color-on-dark);
  }
  &__socials {
    position: relative;
    display: flex;
  }
  &__social {
    margin-left: 22px;
    svg {
      height: 26px;
      width: 26px;
    }
  }
}

@media (max-width: size.$max-tablet) {
  .footer {
    &__logo {
      position: relative;
      left: -2px;
    }
    &__contacts {
      margin: 1px;
      margin-left: 1px;
    }
    &__contact {
      @include m.font-source-sans-pro(18, 24);
      svg {
        display: none;
      }
    }
    &__content {
      width: f.cols(tablet, 2, 4);
    }
    &__bottom {
      margin-top: 23px;
    }
    &__copyright {
      margin-top: 2px;
    }
  }
}

@media (max-width: size.$max-mobile) {
  .footer {
    &__top {
      flex-direction: column;
      padding-top: 29px;
      height: unset;
    }
    &__logo {
      left: 0;
      margin-bottom: 14px;
    }
    &__menu {
      flex-direction: column;
      align-items: center;
      margin-bottom: 23px;
      width: f.cols(mobile, 4, 6);
    }
    &__item {
      margin-left: 0;
      text-align: center;
      margin-bottom: 4px;
    }
    &__middle {
      height: unset;
      padding-top: 24px;
    }
    &__contacts {
      width: 100%;
      height: 95px;
      align-items: center;
      justify-content: space-between;
      margin: 0;
    }
    &__contact {
      height: unset;
      @include m.font-p1;
      &:first-child {
        left: 1px;
        margin-bottom: 1px;
      }
    }
    &__contents {
      display: none;
    }
    &__bottom {
      height: unset;
      flex-direction: column-reverse;
      align-items: stretch;
      margin-top: 26px;
    }
    &__socials {
      justify-content: space-between;
      padding: 0 40px 0 32px;
      margin-bottom: 10px;
    }
    &__social {
      margin: 0;
    }
    &__copyright {
      text-align: center;
      @include m.font-source-sans-pro(12, 16);
    }
  }
}

@media (min-width: size.$min-two-k) {
  .footer {
    &__top {
      height: 83px;
    }
    &__logo {
      top: -1px;
      position: relative;
    }
    &__menu {
      top: -1px;
      left: -2px;
      position: relative;
    }
    &__item {
      margin-left: 29px;
    }
    &__line {
      width: f.cols(twoK, 12, 22);
      left: 50%;
      transform: translateX(-50%);
    }
    &__content {
      width: f.cols(twoK, 2, 4);
      &:nth-child(2n + 1) {
        left: 1px;
      }
    }
    &__copyright {
      margin-top: 4px;
    }
  }
}
