@use "../general/functions" as f;
@use "../general/mixins" as m;
@use "../general/screen-size" as size;

.header {
  z-index: 50;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: var(--max-width);
  height: var(--header-h);
  margin: auto;
  background-color: var(--bg-color);
  padding: 0 var(--padding-side);
  &__logo {
    width: f.cols(desktop, 2, 2);
    height: 24px;
    svg {
      height: 100%;
      width: 133px;
    }
  }
  &__menu {
    display: none;
  }
}

@media (max-width: size.$max-tablet) {
  .header {
    justify-content: space-between;
    &__nav {
      display: none;
    }
    &__user {
      display: none;
    }
    &__menu {
      display: block;
      width: 23px;
      height: 22px;
      background-color: transparent;
      border: none;
    }
  }
}

@media (max-width: size.$max-mobile) {
  .header {
    justify-content: space-between;
    &__logo {
      svg {
        margin-left: 2px;
      }
    }
    &__nav {
      display: none;
    }
    &__user {
      display: none;
    }
    &__menu {
      display: block;
      width: 23px;
      height: 22px;
      background-color: transparent;
      border: none;
    }
  }
}

@media (min-width: size.$min-two-k) {
  .header {
    &__logo {
      position: relative;
      top: -0px;
    }
  }
}
