@use "../default/functions" as f;
@use "../default/mixins" as m;
@use "../default/screen-size" as size;

.input {
  position: relative;
  display: block;
  margin-bottom: 20px;
  margin-top: 11px;
  --color: var(--grey-color);
  &--error {
    --color: var(--error-color);
    .input__name {
      font-size: 14px;
      background-color: var(--bg-color);
      top: 0;
      padding: 0 4px;
      left: 14px;
    }
    .input__input {
      border-color: var(--color);
    }
  }
  &__input {
    @include m.font-p2;
    color: var(--preblack-color);
    position: relative;
    display: block;
    height: 56px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 0 17px;
    outline: none;
    width: 100%;
    &::placeholder {
      color: var(--grey-color);
    }
    &:active {
      border-width: 2px;
    }
  }
  &__label {
    @include m.font-p2;
    white-space: nowrap;
    color: var(--color);
    position: absolute;
    display: block;
    transform: translateY(-50%);
    user-select: none;
    pointer-events: none;
    font-size: 14px;
    background-color: var(--bg-color);
    top: 0;
    padding-left: 4px;
    padding-right: 7px;
    left: 14px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  &__assistive {
    --left: 18px;
    @include m.font-source-sans-pro(12, 16);
    white-space: nowrap;
    color: var(--color);
    position: absolute;
    left: var(--left);
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - var(--left));
  }

  &__input:not(:placeholder-shown) ~ &__label {
    opacity: 1;
  }
}
