@use "../default/functions" as f;
@use "../default/mixins" as m;

.register {
  padding: 0 47px;
  margin-bottom: 139px;
  &__header {
    @include m.font-h2(desktop);
    text-align: center;
    margin-bottom: 11px;
  }
  &__title {
    @include m.font-p1;
    color: var(--preblack-color);
    text-align: center;
    margin-bottom: 49px;
  }
  &__fieldset {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__input {
    width: f.cols(4, 3);
  }
  &__select {
    width: f.cols(6, 5);
  }
  &__file {
    width: f.cols(6, 5);
  }
  &__button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 60px;
    &:disabled {
      pointer-events: all;
    }
  }
}
