@use "../default/functions" as f;
@use "../default/mixins" as m;

.relates {
  padding: 24px 47px;
  margin-bottom: 115px;
  &__header {
    @include m.font-h2(desktop);
    width: f.cols(8, 7);
    text-align: center;
    margin: auto;
    margin-bottom: 45px;
  }
  &__body {
    display: flex;
  }
  &__tech {
    width: f.cols(4, 3);
    margin-right: f.cols(0, 1);
    &:last-child {
      margin-right: 0;
    }
  }
  &__logo {
    margin-bottom: 18px;
    &--smaller {
      width: 97px;
      height: 111px;
      margin-bottom: 21px;
    }
  }
  &__title {
    @include m.font-h3(desktop);
    margin-bottom: 7px;
  }
  &__text {
    @include m.font-p2;
    margin-left: 3px;
    color: var(--grey-text);
    &--short {
      width: f.cols(3, 3);
    }
  }
}
