@use "../general/functions" as f;
@use "../general/mixins" as m;
@use "../general/screen-size" as size;

.reqs {
  position: relative;
  height: 755px;
  padding: 134px var(--padding-side);
  width: var(--max-width);
  margin-bottom: 135px;
  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../../assets/bg-2.jpg);
    background-position: -3px 0;
    background-size: 1145px 764px;
    background-repeat: no-repeat;
    z-index: -1;
  }
  &__header {
    position: relative;
    @include m.font-h2(desktop);
    text-align: center;
    margin-bottom: 39px;
    color: var(--color-on-dark);
  }
  &__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: var(--prewhite-color);
  }
  &__info {
    width: f.cols(desktop, 6, 5);
    width: 447px;
  }
  &__p {
    @include m.font-p2;
    margin-bottom: 22px;
    letter-spacing: 0.00052em;
  }
  &__img {
    position: relative;
    width: 429px;
    height: 362.4px;
    top: 15px;
    left: 1px;
    &--v {
      display: none;
    }
  }
}

@media (max-width: size.$max-tablet) {
  .reqs {
    padding-top: 114px;
    height: 878px;
    margin-bottom: 114px;
    &__bg {
      background-position: -281px 0;
      background-size: 1321px 880px;
    }
    &__header {
      width: 414px;
      @include m.font-h2(tablet);
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 25px;
    }
    &__info {
      width: f.cols(tablet, 6, 10);
      margin-top: 11px;
    }
    &__img {
      width: 343px;
      height: 407px;
      &--h {
        display: none;
      }
      &--v {
        display: block;
      }
    }
  }
}

@media (max-width: size.$max-mobile) {
  .reqs {
    padding-top: 66px;
    height: 1031px;
    margin-bottom: 68px;
    &__bg {
      background-position: -623px -3px;
      background-size: 1553px 1035px;
    }
    &__header {
      width: 100%;
      @include m.font-h2(mobile);
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 11px;
    }
    &__body {
      flex-direction: column-reverse;
      align-items: center;
    }
    &__info {
      width: 100%;
      text-align: center;
      margin-top: 11px;
    }
    &__img {
      width: 257px;
      height: 216px;
      margin-right: 2px;
      margin-bottom: 28px;
      &--h {
        display: block;
      }
      &--v {
        display: none;
      }
    }
  }
}

@media (min-width: size.$min-two-k) {
  .reqs {
    height: 692px;
    &__bg {
      background-position: -2px -463px;
      background-size: 2564px 1711px;
    }
    &__body {
      justify-content: flex-start;
    }
    &__info {
      width: f.cols(twoK, 6, 10);
      margin-right: 93px;
    }
    &__img {
      top: 4px;
    }
  }
}
