@use "../general/functions" as f;
@use "../general/mixins" as m;
@use "../general/screen-size" as size;

.select {
  position: relative;
  &__select {
    $height: 56;
    position: relative;
    display: block;
    width: 100%;
    padding: 0 40px 0 17px;
    height: $height * 1px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--bg-color);
    @include m.font-source-sans-pro(16, ($height - 2));
    color: var(--default-text-color);
    user-select: none;
    appearance: none;
    cursor: pointer;
  }
  &__caret {
    position: absolute;
    width: 16px;
    height: 10px;
    right: 20px;
    top: 24px;
    pointer-events: none;
  }
  &__list {
    position: absolute;
    top: 100%;
    z-index: 5;
    background-color: var(--bg-color);
    width: calc(100% + 33px);
    left: 0;
    border-radius: 2px;
    box-shadow: 0 3px 8px var(--shadow-color);
  }
  &__option {
    $height: 47;
    color: var(--option-color);
    @include m.font-source-sans-pro(16, $height);
    position: relative;
    height: $height * 1px;
    padding-left: 17px;
    cursor: pointer;
    user-select: none;
    &:hover {
      background-color: var(--option-hover);
    }
    &--selected {
      color: var(--prim-color);
    }
    &--empty {
      text-align: center;
      $height: 20;
      @include m.font-source-sans-pro(16, $height);
      height: $height * 1px;
      &:hover {
        background-color: var(--grey-bg);
      }
    }
  }
}

@media (max-width: size.$max-tablet) {
  .select {
    &__caret {
      right: 10px;
    }
  }
}

@media (max-width: size.$max-mobile) {
  .select {
    &__caret {
      right: 13px;
    }
  }
}

@media (min-width: size.$min-two-k) {
  .select {
    &__select {
      line-height: normal;
      padding-top: 16px;
      padding-left: 16px;
    }
    &__caret {
      right: 13px;
    }
  }
}
