@use '../general/functions' as f;
@use '../general/mixins' as m;
@use "../general/screen-size" as size;

.user {
  width: f.cols(desktop, 4, 3);
  display: flex;
  justify-content: space-between;
  margin-right: f.cols(desktop, 0, 1);
  margin-bottom: 60px;
  &:nth-child(3n) {
    margin-right: 0;
  }
  &__avatar {
    --size: 70px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    object-fit: cover;
    &--default {
      background-color: var(--loading-color);
    }
  }
  &__info {
    width: f.cols(desktop, 3, 2);
    margin-top: 25px;
    --bgc: transparent;
    &--empty {
      --bgc: var(--loading-color);
      .user__name {
        width: 80%;
      }
      .user__position {
        width: 40%;
      }
      .user__email {
        width: 100%;
      }
      .user__phone {
        width: 60%;
      }
    }
  }
  &__name {
    @include m.font-h4(desktop);
    margin-bottom: 8px;
    margin-left: -1px;
    margin-top: 1px;
    width: 100%;
    min-height: 1.2em;
  }
  &__position {
    background-color: var(--bgc);
    color: var(--grey-text);
    @include m.font-source-sans-pro(14, 17);
    margin-bottom: 2px;
    min-height: 1.2em;
    border-radius: 2px;
  }
  &__email {
    background-color: var(--bgc);
    color: var(--grey-text);
    @include m.font-source-sans-pro(14, 17);
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2px;
    min-height: 1.2em;
    border-radius: 2px;
  }
  &__phone {
    background-color: var(--bgc);
    color: var(--grey-text);
    @include m.font-source-sans-pro(14, 17);
    min-height: 1.2em;
    border-radius: 2px;
  }
}

@media (max-width: size.$max-tablet) {
  .user {
    width: f.cols(tablet, 4, 6);
    flex-direction: column;
    align-items: center;
    margin-right: f.cols(tablet, 0, 2);
    &__avatar {
      --size: 70px;
    }
    &__info {
      margin-top: 13px;
    }
    &__name {
      margin-top: 0;
      margin-bottom: 5px;
      text-align: center;
    }
    &__position {
      margin-bottom: 0px;
      text-align: center;
      @include m.font-source-sans-pro(14, 17);
    }
    &__email {
      margin-bottom: 0px;
      text-align: center;
      @include m.font-source-sans-pro(14, 17);
    }
    &__phone {
      margin-bottom: 6px;
      text-align: center;
      @include m.font-source-sans-pro(14, 17);
    }
  }
}

@media (max-width: size.$max-mobile) {
  .user {
    width: f.cols(mobile, 4, 6);
    margin-right: 0;
    margin-bottom: 23px;
    &__info {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    &__name {
      margin-bottom: 4px;
    }
    &__position {
      @include m.font-source-sans-pro(14, 17);
      margin-bottom: 2px;
    }
    &__email {
      @include m.font-source-sans-pro(14, 17);
      margin-bottom: 2px;
    }
    &__phone {
      @include m.font-source-sans-pro(14, 17);
    }
  }
}

@media (min-width: size.$min-two-k) {
  .user {
    width: f.cols(twoK, 4, 6);
    margin-bottom: 83px;
    &__info {
      width: f.cols(twoK, 3, 5) + 3px;
    }
  }
}
