@use '../general/functions' as f;
@use '../general/mixins' as m;
@use "../general/screen-size" as size;

.users {
  position: relative;
  padding: 0 var(--padding-side);
  margin-bottom: 154px;
  &__header {
    text-align: center;
    @include m.font-h2(desktop);
    margin-bottom: 12.5px;
  }
  &__title {
    text-align: center;
    @include m.font-pt-sans(18, 20);
    margin-bottom: 59px;
    font-variation-settings: 'wght' 700;
  }
  &__group {
    display: flex;
    flex-wrap: wrap;
  }
  &__button {
    position: relative;
    margin-top: -6px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: size.$max-tablet) {
  .users {
    margin-bottom: 134px;
    &__header {
      @include m.font-h2(tablet);
      margin-bottom: 11px;
    }
    &__title {
      @include m.font-p1;
      letter-spacing: 0.002em;
      margin-bottom: 37px;
    }
  }
}

@media (max-width: size.$max-mobile) {
  .users {
    margin-bottom: 68px;
    &__header {
      @include m.font-h2(mobile);
      margin-bottom: 12px;
    }
    &__title {
      @include m.font-p2;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: size.$min-two-k) {
  .users {
    &__title {
      @include m.font-p1;
      margin-bottom: 53px;
    }
    &__user {
      &:nth-last-child(1),
      &:nth-last-child(2),
      &:nth-last-child(3) {
        margin-bottom: 59px;
      }
    }
  }
}
