@use "sass:map";

// sizes of columns in
@function sizes($device) {
  @if $device == twoK {
    @return ('big': 67.5, 'small': 15);
  }
  @if $device == desktop {
    @return ('big': 50, 'small': 30);
  }
  @if $device == tablet {
    @return ('big': 32, 'small': 15);
  }
  @if $device == mobile {
    @return ('big': 50, 'small': 15);
  }
}

// convert columns to px
@function cols($device, $big, $small) {
  $result: 0;
  $sizes: sizes($device);
  @if $big > 0 {
    @for $_ from 1 through $big {
      $result: $result + map.get($sizes, 'big');
    }
  }
  @if $small > 0 {
    @for $_ from 1 through $small {
      $result: $result + map.get($sizes, 'small');
    }
  }
  $result: $result * 1px;
  @return $result;
}
