@mixin overpass($size, $line-height) {
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  font-size: $size * 1px;
  line-height: $line-height * 1px;
}

@mixin source-sans-pro($size, $line-height) {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: $size * 1px;
  line-height: $line-height * 1px;
}

@mixin h1($device) {
  @if $device == desktop {
    @include overpass(50, 60);
  }
  @if $device == tablet {
    @include overpass(42, 51);
  }
  @if $device == mobile {
    @include overpass(30, 36);
  }
}

@mixin h2($device) {
  @if $device == desktop {
    @include overpass(42, 51);
  }
  @if $device == tablet {
    @include overpass(42, 51);
  }
  @if $device == mobile {
    @include overpass(26, 31);
  }
}

@mixin h3($device) {
  @if $device == desktop {
    @include overpass(26, 31);
  }
  @if $device == tablet {
    @include overpass(26, 31);
  }
  @if $device == mobile {
    @include overpass(22, 26);
  }
}

@mixin h4($device) {
  @if $device == desktop {
    @include overpass(22, 26);
  }
  @if $device == tablet {
    @include overpass(22, 26);
  }
  @if $device == mobile {
    @include overpass(22, 26);
  }
}

@mixin h5($device) {
  @if $device == desktop {
    @include source-sans-pro(18, 21);
  }
  @if $device == tablet {
    @include source-sans-pro(18, 21);
  }
  @if $device == mobile {
    @include source-sans-pro(16, 20);
  }
}

@mixin p1 {
  @include source-sans-pro(18, 26);
}

@mixin p2 {
  @include source-sans-pro(16, 22);
}

@mixin p3 {
  @include source-sans-pro(14, 20);
}
