@use "mixins" as m;
@use "functions" as f;
@use "../general/screen-size" as size;

.link {
  text-decoration: none;
  color: var(--default-text-color);
  cursor: pointer;
  &:visited {
    color: var(--default-text-color);
  }
  &:hover {
    color: var(--prim-color);
  }
  &-on-dark {
    text-decoration: none;
    color: var(--color-on-dark);
    cursor: pointer;
    &:visited {
      color: var(--color-on-dark);
    }
    &:active {
      color: var(--sec-hover);
    }
    &:hover {
      color: var(--prim-color);
    }
  }
  &-bold {
    @include m.font-source-sans-pro(22, 22);
    text-decoration: none;
    font-weight: 700;
    color: var(--prim-color);
    cursor: pointer;
    &:hover {
      color: var(--prim-hover);
    }
  }
}

.menu {
  text-decoration: none;
  cursor: pointer;
  color: var(--default-text-color);
  &:hover {
    color: var(--prim-color);
  }
  &:active {
    color: var(--sec-color);
  }
}

.icon {
  cursor: pointer;
  color: var(--sec-color);
  fill: currentColor;
  &:hover {
    color: var(--sec-hover);
  }
  &--disabled {
    fill: currentColor;
    opacity: 0.5;
  }
  &-on-dark {
    cursor: pointer;
    color: var(--color-on-dark);
    fill: currentColor;
    &:hover {
      color: var(--prim-color);
    }
    &--disabled {
      fill: currentColor;
      opacity: 0.5;
    }
  }
}

.button {
  @include m.font-source-sans-pro(20, 18);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: f.cols(desktop, 4, 3);
  border-radius: 5px;
  cursor: pointer;
  &--primary {
    padding-left: 1px;
    padding-bottom: 1px;
    background-color: var(--prim-color);
    color: var(--prewhite-color);
    &:hover {
      background-color: var(--prim-hover);
    }
    &:disabled {
      cursor: default;
      background-color: var(--grey-bg);
      color: var(--grey-color);
    }
  }
  &--secondary {
    border: 2px solid var(--prim-color);
    color: var(--prim-color);
    background-color: var(--bg-color);
    &:hover {
      cursor: pointer;
      background-color: var(--bg-hover);
      border-color: var(--prim-hover);
      color: var(--prim-hover);
    }
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.anchor {
  position: absolute;
  top: calc(var(--header-h) * (-1));
  left: 0;
}

.tablet {
  display: none;
}
.mobile {
  display: none;
}
.two-k {
  display: none;
}
.desktop {
  display: unset;
}
@media (max-width: size.$max-tablet) {
  .two-k {
    display: none;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: none;
  }
  .tablet {
    display: unset;
  }
}
@media (max-width: size.$max-mobile) {
  .two-k {
    display: none;
  }
  .desktop {
    display: none;
  }
  .tablet {
    display: none;
  }
  .mobile {
    display: unset;
  }
}
@media (min-width: size.$min-two-k) {
  .desktop {
    display: none;
  }
  .mobile {
    display: none;
  }
  .tablet {
    display: none;
  }
  .two-k {
    display: unset;
  }
}
