@use "screen-size" as size;

:root {
  --header-h: 64px;
  --max-width: 1024px;
  --padding-side: 47px;

  --default-text-color: #000000;

  --prim-color: #ef6c00;
  --prim-hover: #fc831f;
  --sec-color: #283593;
  --sec-hover: #2638bb;

  --bg-color: #ffffff;
  --bg-hover: #fee6d2;
  --bg-alert: rgba(11, 0, 0, 0.285);
  --bg-menu: rgba(10, 0, 0, 0.305);

  --error-color: #f44336;
  --color-on-dark: #ffffff;

  --grey-bg: #d7d7d7;
  --grey-color: #8d8c8c;
  --accessible-grey-color: #7d7474;
  --grey-text: #4c4b4b;

  --prewhite-color: #fefefe;
  --preblack-color: #010000;

  --border-color: #b7b7b7;
  --shadow-color: #010101;

  --option-hover: #fce2cc;
  --option-color: #393939;

  --footer-bg: #283593;
  --footer-line: #5674b9;

  --menu-line: #e1e1e1;

  --outline-color: #5e9ed6;

  --loading-color: #ededed;
}

@media (max-width: size.$max-tablet) {
  :root {
    --header-h: 64px;
    --max-width: 768px;
    --padding-side: 24px;
  }
}
@media (max-width: size.$max-mobile) {
  :root {
    --header-h: 64px;
    --max-width: 320px;
    --padding-side: 15px;
  }
}
@media (min-width: #{size.$min-two-k}) {
  :root {
    --header-h: 64px;
    --max-width: 2560px;
    --padding-side: 710px;
  }
}
